@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Category";
}
@* <!-- Gritter.js script -->
<script src="https://cdn.jsdelivr.net/npm/gritter@1.7.4/js/jquery.gritter.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/gritter@1.7.4/css/jquery.gritter.min.css" rel="stylesheet"> *@
<!--=================================
   blog single -->
@* <div class="sidebar">
    <ul class="horizontal-list">
        <li>
            <a asp-area="" asp-controller="Profile" asp-action="Profile">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Admin" asp-action="User">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="User" asp-action="Logout">
                <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <hr style="color: white" />
    <ul class="vertical-list">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Department" asp-action="Index">Departments</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Position" asp-action="Index">Positions</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Schedule" asp-action="Index">Schedule</a>
        </li>
    </ul>
</div> *@
<div class="tab-content" id="myTabContent">
    @* Kurs Section *@
    <div class="tab-pane fade show active" id="courseSection" role="tabpanel" aria-labelledby="course-tab">
        <section style="max-width:100vw !important;" class="space-ptb">
            <div class="row">
                <div class="col-md-12 col-xl-12 mt-4 mt-md-0 order-2 order-lg-1">
                    <div class="blog-sidebar">
                        <div class="widgets">
                            <div class="widget">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3>
                                            Kurslar
                                        </h3>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4 widget-title-right">
                                        <button onclick="openEditForm('/Admin/Course',0)" id="addButton" class="btn btn-primary">
                                            <i class="fa fa-plus"></i>   <span style="font-weight:bold">Ekle</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="widget-content">
                                    <table id="jqGridCourse"></table>
                                    <div id="jqGridPagerCourse"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @* Başvuru Section *@
    <div class="tab-pane fade show" id="enrollmentSection" role="tabpanel" aria-labelledby="enrollment-tab">
        <section style="max-width:100vw !important;" class="space-ptb">
            <div class="row">
                <div class="col-md-12 col-xl-12 mt-4 mt-md-0 order-2 order-lg-1">
                    <div class="blog-sidebar">
                        <div class="widgets">
                            <div class="widget">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3>
                                            Başvurular
                                        </h3>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4 widget-title-right">
                                        <button onclick="openEditForm('/Admin/CourseEnrollment',0)" id="addButton" class="btn btn-primary">
                                            <i class="fa fa-plus"></i>   <span style="font-weight:bold">Ekle</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="widget-content">
                                    <table id="jqGridEnrollment"></table>
                                    <div id="jqGridPagerEnrollment"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @* Öğrenci Section *@
    <div class="tab-pane fade show" id="studentSection" role="tabpanel" aria-labelledby="student-tab">
        <section style="max-width:100vw !important;" class="space-ptb">
            <div class="row">
                <div class="col-md-12 col-xl-12 mt-4 mt-md-0 order-2 order-lg-1">
                    <div class="blog-sidebar">
                        <div class="widgets">
                            <div class="widget">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3>
                                            Öğrenciler
                                        </h3>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4 widget-title-right">
                                        <button onclick="openEditForm('/Admin/CourseStudent',0)" id="addButton" class="btn btn-primary">
                                            <i class="fa fa-plus"></i>   <span style="font-weight:bold">Ekle</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="widget-content">
                                     <table id="jqGridStudent"></table>
                                    <div id="jqGridPagerStudent"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @* Yorum Section *@
    <div class="tab-pane fade show" id="commentSection" role="tabpanel" aria-labelledby="comment-tab">
        <section style="max-width:100vw !important;" class="space-ptb">
            <div class="row">
                <div class="col-md-12 col-xl-12 mt-4 mt-md-0 order-2 order-lg-1">
                    <div class="blog-sidebar">
                        <div class="widgets">
                            <div class="widget">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3>
                                            Yorumlar
                                        </h3>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4 widget-title-right">
                                        <button onclick="openEditForm('/Admin/Comment',0)" id="addButton" class="btn btn-primary">
                                            <i class="fa fa-plus"></i>   <span style="font-weight:bold">Ekle</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="widget-content">
                                     <table id="jqGridComment"></table>
                                    <div id="jqGridPagerComment"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="partialEditContent"></div>

<!--=================================
blog single -->
<script type="text/javascript">
    var grid1 = $("#jqGridCourse");
    var grid2 = $("#jqGridEnrollment");
    var grid3 = $("#jqGridStudent");
    var grid4 = $("#jqGridComment");

    grid1.jqGrid({
        url: '/Admin/Course/GetAllToGrid',
        mtype: "GET",
        datatype: "json",
        colNames: ["Id", "Öğretmen Adı", "Öğretmen Soyadı", "Kategorisi", "Başlangıç Tarihi", "Bitiş Tarihi", "Kota", "Kurs Adı", "Saatlik Ücret", "Toplam Saat", "Toplam Fiyat", "Açıklama", "Durum", "Actions"],
        colModel: [
            { name: 'Id', key: true, width: 15, hidden: true },
            { name: 'TeacherName', width: 100 },
            { name: 'TeacherLastName', width: 100 },
            { name: 'CategoryName', width: 100 },
            { name: 'StartDateStr', width: 100 },
            { name: 'EndDateStr', width: 100 },
            { name: 'Quota', width: 100 },
            { name: 'Name', width: 100 },
            { name: 'PricePerHour', width: 100 },
            { name: 'TotalHour', width: 100 },
            { name: 'TotalPrice', width: 100 },
            { name: 'Description', width: 100 },
            { name: 'StatusTitle', width: 100 },
            {
                name: 'actions',
                width: 100,
                align: 'center',
                sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    return '<button style="padding:5px;" class="btn btn-sm btn-primary" onclick="openEditForm(\'/Admin/Course\',' + options.rowId + ','+ grid1 +')">Edit</button>&nbsp;&nbsp;&nbsp;' +
                        '<button style="padding:5px;" class="btn btn-sm btn-error" onclick="deleteRow(\'/Admin/Course\',' + options.rowId + ')">Delete</button>';
                }
            }
        ],
        loadonce: true,
        navOptions: { reloadGridOptions: { fromServer: true } },
        multiSort: true,
        multiSelect: true,
        sortable: true,
        viewrecords: true,
        search: true,
        width: "auto",
        height: "400",
        rowNum: 15,
        pager: "#jqGridPagerCourse",
    });

    grid2.jqGrid({
        url: '/Admin/CourseEnrollment/GetAllToGrid',
        mtype: "GET",
        datatype: "json",
        colNames: ["Id", "Öğretmen Adı", "Öğretmen Soyadı", "Kategorisi", "Başlangıç Tarihi", "Bitiş Tarihi", "Kota", "Kurs Adı", "Saatlik Ücret", "Toplam Saat", "Toplam Fiyat", "Açıklama", "Durum", "Actions"],
        colModel: [
            { name: 'Id', key: true, width: 15, hidden: true },
            { name: 'TeacherName', width: 100 },
            { name: 'TeacherLastName', width: 100 },
            { name: 'CategoryName', width: 100 },
            { name: 'StartDateStr', width: 100 },
            { name: 'EndDateStr', width: 100 },
            { name: 'Quota', width: 100 },
            { name: 'Name', width: 100 },
            { name: 'PricePerHour', width: 100 },
            { name: 'TotalHour', width: 100 },
            { name: 'TotalPrice', width: 100 },
            { name: 'Description', width: 100 },
            { name: 'StatusTitle', width: 100 },
            {
                name: 'actions',
                width: 100,
                align: 'center',
                sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    return '<button style="padding:5px;" class="btn btn-sm btn-primary" onclick="openEditForm(\'/Admin/CourseEnrollment\',' + options.rowId + ',' + grid2 + ')">Edit</button>&nbsp;&nbsp;&nbsp;' +
                        '<button style="padding:5px;" class="btn btn-sm btn-error" onclick="deleteRow(\'/Admin/CourseEnrollment\',' + options.rowId + ')">Delete</button>';
                }
            }
        ],
        loadonce: true,
        navOptions: { reloadGridOptions: { fromServer: true } },
        multiSort: true,
        multiSelect: true,
        sortable: true,
        viewrecords: true,
        search: true,
        width: "auto",
        height: "400",
        rowNum: 15,
        pager: "#jqGridPagerEnrollment",
    });

    grid3.jqGrid({
        url: '/Admin/CourseStudent/GetAllToGrid',
        mtype: "GET",
        datatype: "json",
        colNames: ["Id", "Öğretmen Adı", "Öğretmen Soyadı", "Kategorisi", "Başlangıç Tarihi", "Bitiş Tarihi", "Kota", "Kurs Adı", "Saatlik Ücret", "Toplam Saat", "Toplam Fiyat", "Açıklama", "Durum", "Actions"],
        colModel: [
            { name: 'Id', key: true, width: 15, hidden: true },
            { name: 'TeacherName', width: 100 },
            { name: 'TeacherLastName', width: 100 },
            { name: 'CategoryName', width: 100 },
            { name: 'StartDateStr', width: 100 },
            { name: 'EndDateStr', width: 100 },
            { name: 'Quota', width: 100 },
            { name: 'Name', width: 100 },
            { name: 'PricePerHour', width: 100 },
            { name: 'TotalHour', width: 100 },
            { name: 'TotalPrice', width: 100 },
            { name: 'Description', width: 100 },
            { name: 'StatusTitle', width: 100 },
            {
                name: 'actions',
                width: 100,
                align: 'center',
                sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    return '<button style="padding:5px;" class="btn btn-sm btn-primary" onclick="openEditForm(\'/Admin/CourseStudent\',' + options.rowId + ',' + grid3 + ')">Edit</button>&nbsp;&nbsp;&nbsp;' +
                        '<button style="padding:5px;" class="btn btn-sm btn-error" onclick="deleteRow(\'/Admin/CourseStudent\',' + options.rowId + ')">Delete</button>';
                }
            }
        ],
        loadonce: true,
        navOptions: { reloadGridOptions: { fromServer: true } },
        multiSort: true,
        multiSelect: true,
        sortable: true,
        viewrecords: true,
        search: true,
        width: "auto",
        height: "400",
        rowNum: 15,
        pager: "#jqGridPagerStudent",
    });

    grid4.jqGrid({
        url: '/Admin/Comment/GetAllToGrid',
        mtype: "GET",
        datatype: "json",
        colNames: ["Id", "Öğretmen Adı", "Öğretmen Soyadı", "Kategorisi", "Başlangıç Tarihi", "Bitiş Tarihi", "Kota", "Kurs Adı", "Saatlik Ücret", "Toplam Saat", "Toplam Fiyat", "Açıklama", "Durum", "Actions"],
        colModel: [
            { name: 'Id', key: true, width: 15, hidden: true },
            { name: 'TeacherName', width: 100 },
            { name: 'TeacherLastName', width: 100 },
            { name: 'CategoryName', width: 100 },
            { name: 'StartDateStr', width: 100 },
            { name: 'EndDateStr', width: 100 },
            { name: 'Quota', width: 100 },
            { name: 'Name', width: 100 },
            { name: 'PricePerHour', width: 100 },
            { name: 'TotalHour', width: 100 },
            { name: 'TotalPrice', width: 100 },
            { name: 'Description', width: 100 },
            { name: 'StatusTitle', width: 100 },
            {
                name: 'actions',
                width: 100,
                align: 'center',
                sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    return '<button style="padding:5px;" class="btn btn-sm btn-primary" onclick="openEditForm(\'/Admin/Comment\',' + options.rowId + ',' + grid4 + ')">Edit</button>&nbsp;&nbsp;&nbsp;' +
                        '<button style="padding:5px;" class="btn btn-sm btn-error" onclick="deleteRow(\'/Admin/Comment\',' + options.rowId + ')">Delete</button>';
                }
            }
        ],
        loadonce: true,
        navOptions: { reloadGridOptions: { fromServer: true } },
        multiSort: true,
        multiSelect: true,
        sortable: true,
        viewrecords: true,
        search: true,
        width: "auto",
        height: "400",
        rowNum: 15,
        pager: "#jqGridPagerComment",
    });

    $(document).ready(function () {

        setGridWidth(grid1);
        setGridWidth(grid2);
        setGridWidth(grid3);
        setGridWidth(grid4);

    });

    $(window).on('resize', function () {
        setGridWidth(grid1);
        setGridWidth(grid2);
        setGridWidth(grid3);
        setGridWidth(grid4);
    });


    function reloadGrid(gridElement) {
        gridElement.jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
    }

    function closeModal() {
        $('#editModal').modal('hide');
    }

    setGridWidth(grid1);
    setGridWidth(grid2);
    setGridWidth(grid3);
    setGridWidth(grid4);
</script>
